{{ template "header.html" . }}

<div class="row"></div>
  <div class="row"></div>
  
  <div class="row"></div>
  <div class="container">
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title teal-text">REGISTER</span>
                            {{ .flash }}
                            <form method="POST" action="/register">
                                <div class="row">
                                    <div class="input-field col s12">
                                    <i class="material-icons prefix">person</i>
                                        <input name="username" type="text" class="validate">
                                        <label for="username">Username</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                    <i class="material-icons prefix">lock_outline</i>
                                        <input name="password" id="password" type="password" class="validate">
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                    <i class="material-icons prefix">lock</i>
                                        <input name="password2" id="password2" type="password" class="validate">
                                        <label for="password2">Re-enter Password</label>
                                    </div>
                                </div>

                        </div>
                    <div class="card-action">
                        <input type="submit" class="btn" value="Register">
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>


{{ template "footer.html" . }}
